* {
    margin: 2px 4px 2px 2px;
    box-sizing: border-box;
}
.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}
.deptname {
    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
.thought {
    background-color:aquamarine;
    height: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: rebeccapurple;
}

.pic {
    width: 1359px;
    height: 550px;
}
.event {
    background-color:aquamarine;
    height: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: rebeccapurple;
}
.pg2 {
    background-color: antiquewhite;
}
table {
    padding: 50px;
    width: 1325px;
    height: fit-content;
}
tr {
    height: 90px;
}
td {
    text-align: center;
}
.update {
    margin-top: 10px;
    background-color:aquamarine;
    height: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: rebeccapurple;
}
.updates {
    width: 60%;
    height: 250px;
    border-right: solid 0.9px black;
}
input {
    align-items:end;
    align-items: center;
    justify-content: end;
    position: relative;
    left: 190px;
    top: 50%;
    
}
.separate {
    display: flex;
}