* {
    margin: 2px 4px 2px 2px;
    box-sizing: border-box;
}
.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}
.deptname {
    margin-top: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
    color: #264de4;
}
.thought {
    background-color:aquamarine;
    height: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: rebeccapurple;
}

.pic {
    width: 1459px;
    height: 550px;
}
.event {
    background-color:aquamarine;
    height: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: rebeccapurple;
}
.pg2 {
    background-color: antiquewhite;
}
#events1 {
    padding: 50px;
    width: 1425px;
    height: fit-content;
}
tr {
    height: 90px;
}
td {
    text-align: center;
}
.update {
    margin-top: 10px;
    background-color:aquamarine;
    height: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: rebeccapurple;
}
.updates {
    width: 60%;
    height: 250px;
    border-right: solid 0.9px black;
}
input {
    align-items:end;
    align-items: center;
    justify-content: end;
    position: relative;
    left: 190px;
    top: 50%;
    
}
.pg3 {
    border-bottom: solid 1px black;
}
.separate {
    display: flex;
}
a {
    text-decoration: none;
}
.text-justify {
    font-size: 20px;
}
.cie {
    font-size: 50px;
    position: relative;
    left: 250px;
    text-decoration: underline;
}
.internal {
    font-size: 30px;
}
.alum {
    margin-top: 10px;
    background-color:aquamarine;
    height: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: rebeccapurple;
}
.alumni {
    width: 650px;
    height: 150px;
}
.img1 {
    width: 250px;
    height: 250px;
    object-fit:fill;
}
.info{
    width: 100%;
    
}
